<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css' }}"
    <title>{{ restaurant.name }}</title>
</head>
<body>
<h1>{{ restaurant.name }}</h1>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li><strong>{{ message }}</strong></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<a href="{{ url_for('newMenuItem', restaurant_id=restaurant.id) }}">Add New Item</a>
<br>
<br>
{% for i in items %}
    {{ i.name }}
    </br>

    {{ i.description }}
    </br>
    {{ i.price }}
    </br>
    <a href="{{ url_for('editMenuItem', menu_id=i.id, restaurant_id=restaurant.id) }}">edit</a>
    <a href="{{ url_for('deleteMenuItem', menu_id=i.id, restaurant_id=restaurant.id) }}">delete</a>
    </br>
    </br>
{% endfor %}
</body>
</html>